h3 {
    font-size: 25px !important;
}

.btn-primary:hover {
    background-color: rgb(24, 66, 92);
}
.btn-info:hover {
    background-color:rgb(92, 143, 174);
}

canvas {
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from{box-shadow: 1px 1px 38px rgb(125, 106, 106)};
    to {box-shadow: 1px 1px 38px rgb(121, 67, 67)};
}